<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Ocurred</title>
</head>
<body>
  <p><%= errorMessage %></p>
  <a href="/">Try Again</a>
  
</body>
</html>