<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="/login" method="POST">
    <label for="user">Username:</label>
    <input type="text" name="user" id="user"><br><br>
    <label for="user">Password:</label>
    <input type="password" name="pass" id="pass"><br><br>
    <button class="btn" type="submit">Login</button>
  </form>
  
</body>
</html>